
<div id="totalJobsText">Actuellement, <strong>{{jobs.length}} offres d'emploi</strong> sur notre site</div>

<div *ngFor="let job of jobs" class="card card-warning">
    
    <div class="card-header">
        <h3 class="card-title"><a href="#" [routerLink]="['/jobs', job.id]">{{job.title}}</a></h3>
        <div>{{job.company}} - {{job.city}} - {{job.zipcode}}</div>
    </div>

    <div class="card-body>">
        <p class="card-text">{{job.description}}</p>
    </div>

    <div class="card-footer card-warning clear">
        Annonce parue il y a {{job.publishdate | daysAgo}}
    </div>
</div>
