.clear {
    background-color: white;
    
}

.card {
    margin-bottom: 2em;
}

.card-text {
    padding:1em;
}

#totalJobsText {
    margin-top:30px;
    margin-bottom:30px;
}

#totalJobsText strong {
    color: blue;   
}