<div class="panel-body">
    <form [formGroup]="form" (ngSubmit)="createJob(form.value)">

        <div class="form-group col-md-6">
            <div class="row form-group">
                <label for="title">Titre</label>
                <input type="text" 
                        name="title" 
                        class="form-control"
                        placeholder="Titre de votre annonce"
                        formControlName="title">
            </div>

            <div class="row form-group">
                <label for="company">Société</label>
                <input type="text" 
                        name="company" 
                        class="form-control"
                        placeholder="Société"
                        formControlName="company">
            </div>            

            <div class="row form-group">
                <label for="city">Ville</label>
                <input type="text" 
                        name="city" 
                        class="form-control"
                        placeholder="Ville"
                        formControlName="city">
            </div>

            <div class="row form-group">
                <label for="zipcode">Code postal</label>
                <input type="text" 
                        name="zipcode" 
                        class="form-control"
                        placeholder="Code postal"
                        formControlName="zipcode">
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="row form-group">
                <label for="description">Description </label>
                <textarea name="description" formControlName="description" cols="30" rows="4"></textarea>
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="row form-group">
                <label for="contract">Type de contrat </label>
                <select name="contract" formControlName="contract">
                    <option *ngFor="let c of contractTypes" [value]="c.value">{{c.name}}</option>
                </select>
            </div>
        </div>

        <div class="row form-group col-md-12">
            <label for="salary">Salaire </label>
            <input class="small-text" formControlName="salary">
        
            <select name="currency" class="currency" formControlName="currency">
                <option *ngFor="let c of currencies" [value]="c.value">{{c.name}} ({{c.symbol}})</option>
            </select>
        </div>       
        
        <div class="row form-group col-md-6">
            <label for="experience">Expérience </label>
            <select name="experience" formControlName="experience">
                <option *ngFor="let e of experiences" [value]="e.value">{{e.name}}</option>
            </select>

            <label for="statut">Statut</label>
            <select name="status" formControlName="status">
                <option *ngFor="let s of statuses" [value]="s.value">{{s.name}}</option>
            </select>
        </div>

        <div class="row form-group col-md-12">
            <label for="area">Déplacements</label>
            <div *ngFor="let a of areas">
                <input
                    type="radio"
                    [id]='"btn-" + a.value'
                    name="area"
                    [value]="a.value"
                    formControlName="area">
                <label [for]='"btn-" + a.value'>{{a.value}}</label>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label for="startdate">Publiée le</label>
            <input type="date" name="startdate" formControlName="startdate" >
        </div>

        <div class="row form-group col-sm-12">
            <button type="submit" class="btn btn-success">Créer l'annonce</button>
        </div>    
    </form>
</div>