    <form [formGroup]="form" (ngSubmit)="createJob(form.value)">
        <div class="row col-sm-12">
            <div class="form-group">
                <label for="title" class="bmd-label-floating">Titre de l'annonce</label>
                <input type="text" 
                    name="title" 
                    class="form-control"
                    formControlName="title">
                    <span class="bmd-help">Mettre un texte clair et concis.</span>
            </div>
        </div>
        <div class="row col-md-12 ">
            <div class="form-group">
                <label for="description">Description </label>
                <textarea class="form-control descriptionTextArea" name="description" formControlName="description"></textarea>
            </div>
        </div>                
        <div class="row col-md-12">
            <div class="form-group">
                <label for="company" class="bmd-label-floating">Société</label>
                <input type="text" 
                        name="company" 
                        class="form-control"
                        formControlName="company">
            </div>
        </div>  
        <div class="row col-left col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="zipcode" class="bmd-label-floating">Code postal</label>                            
                    <input type="text" 
                            name="zipcode" 
                            class="form-control"
                            formControlName="zipcode">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city" class="bmd-label-floating">Ville</label>
                        <input type="text" 
                        name="city" 
                        class="form-control"
                        formControlName="city">
                </div>            
            </div>                                            
        </div>  

        <div class="row col-md-12">
            <div class=" form-group">
                <label for="contract">Type de contrat </label>
                <select name="contract" formControlName="contract" class="form-control">
                    <option *ngFor="let c of contractTypes" [value]="c.value">{{c.name}}</option>
                </select>
            </div>   
        </div>      
        
        <div class="row col-md-12">
            <div class="form-group">
                <label for="salary" class="bmd-label-floating">Salaire </label>
                <div class="row">
                    <div class="col-md-7">
                        <input class="form-control" formControlName="salary">     
                    </div>                    
                    <div class="col-md-5">
                        <select name="currency" class="currency" formControlName="currency" class="form-control">
                            <option *ngFor="let c of currencies" [value]="c.value">{{c.name}} ({{c.symbol}})</option>
                        </select>
                    </div>
                </div>
            </div>   
        </div>           
        
        <div class="row col-md-12">
            <div class="form-group ">
                <label for="experience">Expérience </label>
                <select name="experience" formControlName="experience" class="form-control">
                    <option *ngFor="let e of experiences" [value]="e.value">{{e.name}}</option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group">
                <label for="statut">Statut</label>
                <select name="status" formControlName="status" class="form-control">
                    <option *ngFor="let s of statuses" [value]="s.value">{{s.name}}</option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group ">
                <label for="area">Déplacements</label>
                <div *ngFor="let a of areas">
                    <input class="checkbox"
                        type="radio"
                        [id]='"btn-" + a.value'
                        name="area"
                        [value]="a.value"
                        formControlName="area">
                    <label [for]='"btn-" + a.value' class="radioButtonLabel">{{a.name}}</label>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group ">
                <label for="startdate">Publiée le</label>
                <input type="date" name="startdate" formControlName="startdate" class="form-control" >
            </div>
        </div>

        <div class="row col-md-12">
            <button type="submit" class="btn btn-success btn-raised">Créer l'annonce</button>
        </div>    
    </form>
